.btn-primary {
    background: #4589FF;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 23px;
    cursor: pointer;
}

.btn-primary:hover {
    background: #005dff;
}

.btn-primary:active {
    color: #4589ff;
	background-color: white;
}

.btn-primary:disabled {
    background: #E3EEFF;
    color: #A0A0A0;
    cursor: not-allowed;
    position: relative;
}

.disabled-tooltip {
    display: none;
}

.btn-primary:disabled:hover .disabled-tooltip {
    display: block;
    position: absolute;
    bottom: 100%;
    width: 250px;
    background: #333;
    color: white;
    text-align: center;
    padding: 8px;
    border-radius: 4px;
    transform: translateX(-50%);
    left: 50%;
}
.btn-light {
    background: white;
    color: #a8a8a8;
    border: 2px solid #a8a8a8;
    border-radius: 8px;
    font-size: 23px;
    cursor: pointer;
}

.btn-light:hover {
    background-color: rgb(243, 243, 243);
}

.back-btn {
    background: url('../assets/icon/sign/backarrow.svg') no-repeat center;
    background-color: transparent;
    background-size: cover;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    border: none;
    cursor: pointer;
}

.back-btn:hover {
    background: url('../assets/icon/sign/backarrow-hover.svg') no-repeat center;
    background-color: #E3EEFF;
    background-size: cover;
}