header {
    width: 100%;
    height: 100px;
    background-color: rgb(69, 137, 255);
    display: flex;
    align-items: center;
}

.header-content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 50px;
    height: 50px;
    margin-left: 24px;
}

.header-interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
}

.help-icon:hover {
    cursor: pointer;
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center;
}

.header-headline {
    color: white;
    font-size: 16px;
    font-weight: 100;
}

.header-headline {
    cursor: pointer;
}

.user-icon-border {
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    color: rgb(69, 137, 255);
}

.user-icon-border:hover {
    cursor: pointer;
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center;
}