header {
    width: 100%;
    height: 100px;
    background-color: rgb(69, 137, 255);
    display: flex;
    align-items: center;
}

.header-content {
    max-width: 1920px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 50px;
    height: 50px;
    margin-left: 24px;
}

.header-interaction {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    margin-right: 24px;
}

.help-icon:hover {
    cursor: pointer;
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center;
}

.header-headline {
    color: white;
    font-size: 16px;
    font-weight: 100;
}

.header-headline {
    cursor: pointer;
}

.user-icon-border {
    border: 2px solid white;
    border-radius: 50%;
    padding: 2px;
}

.user-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: white;
    color: rgb(69, 137, 255);
}

.user-icon-border:hover {
    cursor: pointer;
    display: inline-block;
    transform: scale(1.2);
    transform-origin: center;
}

/* header menu overlay*/
.menu-overlay {
    position: fixed;
    inset: 0;
    z-index: 999;
}

.logout-menu {
    position: absolute;
    top: 102px; 
    right: 4px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 8px;
    z-index: 1000;
    min-width: 140px;
}

.logout-menu a,
.logout-menu button {
    text-decoration: none;
    font-size: 16px;
    padding: 4px 4px;
    border-radius: 6px;
    transition: background-color 0.2s;
    color: #42526E;
    text-align: end;
    background: none;
    border: none;
    cursor: pointer;
    width: 100%;
    font-family: inherit;
}

.logout-menu a:hover,
.logout-menu button:hover {
    background-color: rgb(210, 227, 255);
}

@media (max-width: 1000px) {
    header {
        height: 80px;
        justify-content: center;
    }

    .header-content {
        padding: 0 16px;
    }

    .header-headline, .help-icon {
        display: none;
    }

    .header-logo {
        margin-left: 0;
        width: 32px;
        height: 32px;
    }

    .header-interaction {
        margin-right: 0;
    }
}
