body {
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    font-family: "Open Sans";
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 201.97px;
}

.logo {
    height: 121.97px;
    width: 100.03px;
    margin: 80px 0 0 77px;
}

.btn-login {
    padding: 6px 30px 6px 30px;
    font-size: 17px;
}

.header-right {
    padding: 60px 77px 0 0;
}

.sign-up-info {
    margin-right: 20px;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form {
    box-shadow: 0px 0px 20px 3px rgba(131, 131, 131, 0.2);
    padding: 20px 50px;
    border-radius: 30px;
    width: 500px;
    height: 400px;
}

.login-form-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    margin-bottom: 35px;
}

.login-form-header span {
    font-family: "Open Sans Bold";
    font-size: 52px;
}

.seperator {
    width: 170px;
    height: 3px;
    background: #4589FF;
    border-radius: 1.5px;
}

.login-form-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.input-contaier {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    height: 50px;
    border-bottom: 1px solid #c4c4c4;
    padding: 0 20px 0 20px;
}

input {
    border: none;
    height: 30px;
    width: 350px;
    font-size: 16px;
    color: #2c2c2c;
}

input::placeholder {
    color: #a8a8a8;
}

input:focus {
    outline: none;
    box-shadow: none;
    border-radius: 8px;
}

.login-error-message {
    color: #ff0000;
    font-size: 14px;
    margin-top: 8px;
    font-weight: 600;
}

.login-button-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 18px;
    margin: 10% auto 0 auto;
}

footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 16px;
    min-height: 100px;
}

footer a {
    color: #42526e;
    text-decoration: none;
    padding: 8px;
    margin-bottom: 20px;
}

.animation-frame {
    position: fixed;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    background: #4589FF;
}

#animation-logo {
    filter: brightness(0) invert(1);
    width: 265px;
    height: 323.1px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.mobile-sign-up {
    display: none;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media screen and (max-width: 768px) {
    .logo {
        height: 80px;
        width: 66px;
        margin: 40px 0 0 40px;
    }

    #animation-logo {
        filter: brightness(0) invert(1);
        width: 265px;
        height: 323.1px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    main {
        flex-direction: column;
        gap: 40px;
    }

    .mobile-sign-up {
        display: flex;
    }

    .login-form {
        width: 350px;
        height: 400px;
        padding: 20px;
    }

    .login-form-header span {
        font-size: 38px;
    }

    .seperator {
        width: 80px;
        height: 2px;
    }

    .input-contaier {
        width: 100%;
        padding: 0 10px;
    }

    .login-button-area {
        flex-direction: column;
        width: 50%;
        gap: 12px;
    }

    .header-right {
        display: none;
    }
}