/* Grundgerüst der Sidebar */
.sidebar {
    width: 232px;
    height: 100vh;
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    position: fixed;
    left: 0;
    top: 100;
}

/* Menü-Links */
.menu {
    height: calc(100% - 180px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    text-decoration: none;
    color: rgb(84, 100, 128);
    font-size: 16px;
    transition: background-color 0.2s;
    border-radius: 12px;
    margin-left: 16px;
    margin-right: 16px;
    
}

/* Aktiver Link oder Hover-Effekt */
.menu-item:hover,
.menu-item.active {
    background-color: rgb(210, 227, 255);
}

.menu-item img {
    margin-right: 15px;
    width: 24px;
}

/* Footer Links ganz unten */
.sidebar-footer {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-footer a {
    color: black;
    text-decoration: none;
    font-size: 14px;
}

.sidebar-footera:hover {
    cursor: pointer;
    color: #0038FF;
}