/* Menü-Links */
.menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 232px;
    height: calc(100vh - 100px);
    box-shadow: 4px 0px 10px 0px rgba(0, 0, 0, 0.1);
    position: fixed;
    left: 0;
    top: 100px;
    box-sizing: border-box;
    padding: 40px 0;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 12px 40px;
    text-decoration: none;
    color: rgb(84, 100, 128);
    font-size: 16px;
    transition: background-color 0.2s;
    border-radius: 12px;
    margin-left: 16px;
    margin-right: 16px;
}

/* Aktiver Link oder Hover-Effekt */
.menu-item:hover,
.menu-item.active {
    background-color: rgb(210, 227, 255);
}

.menu-item img {
    margin-right: 15px;
    width: 24px;
}

/* Footer Links ganz unten */
.sidebar-footer {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sidebar-footer a {
    color: #42526E;
    text-decoration: none;
    font-size: 14px;
}

.sidebar-footer a:hover {
    cursor: pointer;
    color: #0038FF;
}

@media(max-width: 1000px) {
    .menu {
        width: 100vw;
        height: 80px;
        top: auto;
        bottom: 0;
        flex-direction: row;
        padding: 0;
        background-color: white;
        box-shadow: 0px -4px 10px rgba(0, 0, 0, 0.05);
        z-index: 100;
    }

    .menu-items-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
    }

    .menu-item {
        flex-direction: column;
        padding: 10px 5px;
        margin: 0;
        border-radius: 0;
        font-size: 14px;
        flex: 1;
        justify-content: center;
    }

    .menu-item img {
        margin-right: 0;
        margin-bottom: 5px;
    }

    .menu-item:hover,
    .menu-item.active {
        background-color: transparent;
        color: #0038FF;
        border-radius: 8px;
    }

    .menu-item.active img {
        filter: brightness(0) saturate(100%) invert(16%) sepia(99%) saturate(7462%) hue-rotate(233deg) brightness(100%) contrast(108%);
    }

    .sidebar-footer {
        display: none;
    }
}