* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body {
  line-height: 1.2;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}