/* whole content */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: calc(100vh - 100px);
    flex: 1;
    margin-left: 232px;
}

#summaryContent {
    width: 900px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

/* headline */
.dashboard-headline {
    width: 750px;
    height: 80px;
    font-size: 48px;
    margin-top: 0;
    text-align: center;
}

/* upper content */
.active-tasks {
    width: 900px;
    height: 200px;
    display: flex;
    gap: 20px;
    perspective: 500px;
}

.urgent-task-box {
    background-color: #4589FF;
    width: 680px;
    height: 200px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: transform 0.3s ease;
}

.urgent-task-box:hover {
    cursor: pointer;
    background-color: white;
    border: 1px lightgray solid;
    transform: translateZ(30px);
    border-radius: 0 24px 24px 24px;

    .task-amount-number-white {
        color: #4589FF;
    }

    .task-text-white {
        color: #4589FF;
    }

    .seperation-line {
        background-color: #005DFF;
    }

    .date-text-top {
        color: #4589FF;
    }

    .date-text {
        color: #4589FF;
    }
}

.urgent-task {
    width: 140px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seperation-line {
    height: 160px;
    width: 3px;
    background-color: white;
}

.urgent-task-date {
    width: 270px;
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task-in-board {
    width: 200px;
    height: 200px;
    border: 1px lightgray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.task-in-board:hover {
    cursor: pointer;
    background-color: #005DFF;
    color: white;
    transform: translateZ(30px);
    border-radius: 0 24px 24px 24px;

    .task-text {
        color: white;
    }

    .task-icons {
        outline: 3px solid white;
        outline-offset: -8px;
    }
}

/* lower content */
.tasks-overview {
    width: 900px;
    display: flex;
    justify-content: space-between;
    perspective: 500px;
}

.to-do {
    width: 200px;
    height: 220px;
    border: 1px lightgray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #D2E3FF;
    transition: transform 0.3s ease;
}

.to-do:hover {
    cursor: pointer;
    background-color: white;
    color: #005DFF;
    transform: translateZ(30px);
    border-radius: 0 24px 24px 24px;

    .task-text {
        color: #005DFF;
    }
}

.in-progress {
    width: 200px;
    height: 220px;
    border: 1px lightgray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.in-progress:hover {
    cursor: pointer;
    background-color: #005DFF;
    color: white;
    transform: translateZ(30px);
    border-radius: 0 24px 24px 24px;

    .task-text {
        color: white;
    }

    .task-icons {
        outline: 3px solid white;
        outline-offset: -8px;
    }
}

.awaiting-feedback {
    width: 200px;
    height: 220px;
    border: 1px lightgray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.awaiting-feedback:hover {
    cursor: pointer;
    background-color: #005DFF;
    color: white;
    transform: translateZ(30px);
    border-radius: 0 24px 24px 24px;

    .task-text {
        color: white;
    }

    .task-icons {
        outline: 3px solid white;
        outline-offset: -8px;
    }
}

.done {
    width: 200px;
    height: 220px;
    border: 1px lightgray solid;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
}

.done:hover {
    cursor: pointer;
    background-color: #005DFF;
    color: white;
    transform: translateZ(30px);
    border-radius: 0 24px 24px 24px;

    .task-text {
        color: white;
    }

    .task-icons {
        outline: 3px solid white;
        outline-offset: -8px;
    }
}

/* inside task information and design*/
.tasks-amount {
    width: 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-icons {
    height: 75px;
    width: 75px;
    border-radius: 50%;
}

.icon-border {
    border: 3px white solid;
    border-radius: 50%;
}

.task-text {
    width: 120px;
    font-size: 22px;
    color: #4589FF;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 8px;
}

.task-text-white {
    width: 140px;
    font-size: 20px;
    color: white;
    text-align: center;
    margin-top: 8px;
    margin-bottom: 0;
}

.date-text-top {
    width: 270px;
    font-size: 28px;
    color: white;
    text-align: start;
    margin-top: 8px;
    margin-bottom: 0;
}

.date-text {
    width: 270px;
    font-size: 20px;
    color: white;
    text-align: start;
    margin-top: 8px;
    margin-bottom: 0;
}

.task-amount-number {
    font-size: 48px;
    margin: 0;
}

.task-amount-number-white {
    font-size: 48px;
    color: white;
    margin: 0;
}

/* greetings display */
.dashboard-headline.guest {
    font-size: 60px;
    font-weight: bold;
    color: #2A3647;
}

.dashboard-headline.user {
    color: #2A3647;
}

.dashboard-headline.user .username {
    font-weight: bold;
    color: #4589FF;
}